<p style="color: green"><%= notice %></p>

<h1><%= @algo.title %></h1>
<p><%= @algo.description %></p>

<div>
  <%= link_to "Edit this algo", edit_algo_path(@algo) %> |
  <%= link_to "ajouter 1 partie", addpart_algo_path(@algo) %> |

  <%= button_to "Destroy this algo", @algo, method: :delete %>
</div>
